* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.content-wrapper {
    width: 100%;
    min-height: 100vh;
    background: #fff;
    color: #525252;
}

header {
    width: 100%;
    padding: 8px 5%;
    display: flex;
    background: #180203;
    height: 8.5vh;
}

.logo {
    width: 80px;
}

/* nav bar */
nav {
    background: #5a181a;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    height: 6vh;
    padding: 0 2%;
    z-index: 10;
}

.user-pic {
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
    color: white;
    transition: all 0.5s;
}

.user-pic:hover {
    color: #837651;
}

.btnLogin {
    text-decoration: none;
    font-size: 16px;
    padding: 5px 0;
    width: 130px;
    height: 35px;
    box-sizing: border-box;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    transition: 0.5s;
    margin: 0 0 0 40px;
    font-family: 'Readex Pro', sans-serif;
}

.btnLogin:hover {
    color: #837651;
    background-color: #fff;
}

.navList {
    width: 100%;
    text-align: right;
}

.navListItem {
    display: flex;
    float: right;
    list-style: none;
}

.navLinks {
    color: #fff;
    text-decoration: none;
    transition: all 0.5s;
    font-size: 16px;
    padding: 20px 20px;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    font-family: 'Readex Pro', sans-serif;
}

.navLinks:hover {
    color: #837651;
}

/* Nav button underline effect */
.navLinks:before {
    transition: ease-in-out 0.3s;
    content: "";
    bottom: 0px;
    cursor: pointer;
    height: 5px;
    width: 0%;
    position: absolute;
    box-sizing: border-box;
    background-color: #837651;
    right: 50%;
    transform: translate(50%, 0);
}

.navLinks:hover::before {
    cursor: pointer;
    width: 100%;
}

/*Folding menu */
.sub-menu-wrap {
    position: absolute;
    top: 100%;
    right: 2%;
    width: 300px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height ease-in-out 0.5s;
    z-index: 1;
}

.sub-menu-wrap.open-menu {
    max-height: 400px;
}

.sub-menu {
    background: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 4%;
    border: 3px solid #5a181a;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info h3 {
    font-weight: 500;
}

.sub-menu hr {
    border: 0;
    height: 3px;
    width: 100%;
    background: #5a181a;
    margin: 15px 0 10px;
}

.sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 12px 0;
    color: #5a181a;
}

.sub-menu-link p {
    width: 100%;
}

.user-info-icon {
    width: 40px;
    margin-right: 15px;
    color: #5a181a;
}

.sub-menu-link span {
    font-size: 22px;
}

.sub-menu-link:hover span {
    transform: translateX(7px);
    transition: transform 0.5s;
}

.sub-menu-link p:hover {
    font-weight: 600;
}

/* Login page*/
.lform-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 91.5vh;
}

.lform-box {
    position: relative;
    width: 400px;
    height: 450px;
    background-color: transparent;
    border: 2px solid #180203;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#register_form {
    height: 750px;
}

.register {
    height: 500px;
}

.lform-box h2 {
    font-size: 2em;
    color: #180203;
}

.btnhome {
    width: 30px;
    height: 30px;
    float: right;
    text-decoration: none;
    transition: 0.5s;
    color: #180203;
}

.btnhome:hover {
    color: #837651;
}

.input-box {
    display: block;
    position: relative;
    width: 310px;
    margin: 30px 0;
    border-bottom: 2px solid #180203;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #180203;
    pointer-events: none;
    transition: 0.5s;
}

.input-box input:focus~label,
.input-box input:not(:placeholder-shown)~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #180203;
    padding: 0 40px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    color: #180203;
    font-size: 1.2em;
    line-height: 57px;
}

.remember-forgot {
    margin: -15px 0 15px;
    font-size: .9em;
    color: #180203;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    margin-right: 3px;
}

.remember-forgot a {
    color: #180203;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.form-button {
    width: 100%;
    height: 40px;
    background: #5a181a;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    transition: 0.5s;
}

.form-button:hover {
    color: #837651;
}

.register-link {
    font-size: .9em;
    color: #180203;
    text-align: center;
    margin: 25px 0 10px;
}

.register-link p a {
    color: #180203;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

@media (max-width: 420px) {
    .lform-box {
        width: 100%;
        height: 91.5vh;
        border: none;
        border-radius: 0;
    }

    .input-box {
        width: 270px;
    }
}

/*Landing page*/
#index-image-container {
    width: 100%;
    height: 85.5vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url("images/Schoolfront.jpg");
    ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Place text in the middle of the image */
#index-text {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    font-size: 30px;
}

#index-text button {
    border: none;
    display: inline;
    padding: 10px 25px;
    color: #fff;
    background-color: #5a181a;
    text-align: center;
    cursor: pointer;
    width: 300px;
    height: 50px;
    margin: 20px;
    border-radius: 40px;
    transition: 0.5s;
    font-size: 16px;
    font-family: 'Readex Pro', sans-serif;
}

#index-text button:hover {
    color: #837651;
}

#index-text h1 {
    font-family: 'Readex Pro', sans-serif;
    text-align: center;
}

footer {
    width: 100%;
    padding: 8px 5%;
    display: flex;
    background: #180203;
    color: #837651;
    font-size: 1em;
    color: #180203;
    font-weight: 500;
}

/* error page */
#error-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    font-size: 30px;
}

.error {
    color: #5a181a;
    font-family: 'Readex Pro', sans-serif;
    text-align: center;
}

.errorbtn {
    border: none;
    display: inline;
    padding: 10px 25px;
    background-color: #5a181a;
    text-align: center;
    cursor: pointer;
    width: 30vh;
    height: 5vh;
    margin: 3vh;
    border-radius: 40px;
}

.errorbtn a {
    color: #fff;
    text-decoration: none;
    font-family: 'Readex Pro', sans-serif;
}